{{#if allowSearch}}
<!-- this allowsearch variable is in every route 
of basicallly if its enabled then the search functionality is available to us -->
<div class="sidebar-nav-search sidebar-nav-section" role="search">
    <div class="form-group">
    <!--this will give us the search bar  -->
        {{text-search value=searchText placeholder="Search" class="form-control"}}
    </div>
    <!--this will give us the button with magnifying glass next to the search bar  -->
    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
</div>
{{/if}}
