    <nav class="view sidebar-nav hidden-print" role="navigation">

    {{partial "sidebar_nav/header"}}
    <!--this is studied and commented properly in sidebar_nav --> 

    <div class="scroll-container">

        {{partial "sidebar_nav/search"}}
        <!-- this will give the search bar and the icon next to it -->

        {{partial "sidebar_nav/primary_nav"}}

        {{partial "sidebar_nav/message"}}

    </div>

    </nav>
